# Environment variables for docker-compose
FINDER_BOT_DB_PASSWORD=myPassword
BOT_TOKEN=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
BOT_OWNER_ID_1=
BOT_OWNER_ID_2=

# only required if not self-hosting judge0 with docker.
# e.g. if paying for judge0 api usage
JUDGE0_API_KEY=
JUDGE0_BASE_URL=